@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
  font-family: 'Quicksand', sans-serif;
}
.pageTitle{
  text-align: center;
  margin-top: 40px;
  color: brown;
}